@import "bootstrap";


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.span3{
	li{
	   color: #227;
	   font-size: 120%;
           font-family: sans-serif;
	   
	}
}
#cart {
   .item_price, .total_line {
   text-align: right;
   }
   .total_line .total_cell {
   font-weight: bold;
   border-top: 1px solid #595;

  }
  form, div {
    display: inline;
  }  
  input {
    font-size: small;
  }
  font-size: smaller;
  padding-right:10px;

}
.text-info{
  padding-top:.85em;
}

